.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inlineBlock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.verticalCenter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.verticalCenter:after,
.verticalCenter:before {
  content: " ";
  display: block;
  -webkit-box-flex: 1;
  visibility: hidden;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-ver-center {
  display: flex;
  align-items: center;
}
.flex-hor-center {
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: 'regular';
  src: url('~@assets/fonts/NotoSansHans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'medium';
  src: url('~@assets/fonts/NotoSansHans-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'bold';
  src: url('~@assets/fonts/NotoSansHans-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'numbers';
  src: url('~@assets/fonts/FACTORY-LININGNUMBERS.ttf') format("truetype");
}
